.branding__title{
    transform: translateY(1.5rem);
}
.branding__title > dl > dt{
    text-align: center;
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
}
.branding__title > dl > dd{
    text-align: center;
    font-size: 3rem;
    font-family: 'Helvetica-Rounded-Bold', sans-serif;
}
.index__branding{
    background: #F3ECE5;
    border-radius: 3rem;
    padding-top: 5%;
}
.branding__title{
    display: flex;
    justify-content: center;
}
.branding__title > dl > dd{
    font-weight: bold;
}
.img__container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 10%;
    /* border: 2px solid #000; */
}
.branding__img{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5%;
    margin: 10;
}

.branding__img > img{
    
    width: 100%;
    height: 18vw;
    /* margin: 5%; */
    min-width: 84px;
    min-height: 105px;
    box-shadow: 0 0.2rem 1.2rem #888888;
    /* border: 2px solid #0000; */
    margin: 5% 0;

}
.img__caption{
    text-align: center;
    margin: 5%;
    font-family: Helvetica, Arial, sans-serif;
}
.branding__slogan{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.3rem;
    background: #F1E1D2;
    margin: 10% 0;
    padding: 4%;
    transform: translateY(-5rem);
    font-family: 'Helvetica-Rounded-Bold', sans-serif;
}
@media screen and (max-width: 900px){
    .branding__slogan{
        font-size: 1rem;
        line-height: 1.2rem;
        transform: translateY(-3rem);
        margin: 10% 0;
    }
    .branding__title > dl > dt{
        font-size: 1rem;
    }
    .branding__title > dl > dd{
        font-size: 1.8rem;
    }
    .img__caption{
        font-size: 1rem
    }
}

@media screen and (max-width: 390px){
    .branding__slogan{
        font-size: 0.7rem;
        line-height: 1rem;
        transform: translateY(-3rem);
        margin: 10% 0;
    }
    .branding__title > dl > dt{
        font-size: 0.7rem;
    }
    .branding__title > dl > dd{
        font-size: 1.5rem;
    }
    .img__caption{
        font-size: 0.8rem;
        line-height:1rem;
    }

}