/* ---------------------------------------------------------------------------
PRODUCT LISTING PAGE   
--------------------------------------------------------------------------- */

.product-list__container{
    /* max-width: 1368px; */
    padding: 0 2%;
    background-color: #F5F5F5;
    font-family: Helvetica,Arial,sans-serif;
}

.product-list__breadcrumble{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
    margin-bottom: 0.5rem;
    /* border: 1px solid #000; */

}
.product-list__breadcrumble > a{
    font-size:1rem;
    color: #555555;
    margin: 0 1rem;
    text-decoration: none;
}
.product-list__breadcrumble > a:nth-child(1){
    margin-left:0rem;
}

.product-list__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.product-list__content{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1%;
    justify-content: center;
    /* border: 2px solid #16cf50; */
}


.filter__container{
    width: 26%;
    min-height: 1050px;
    background: #F3ECE5;
    padding: 5% 2%;
    border-radius: 1rem;
    border: 1px solid #7B7B7B;
    box-shadow: 0 0.2rem 1.2rem #888888;
    box-sizing: border-box;
}
.filter__content-text:last-child{
    margin-bottom: 3rem;
}
/* ---------------------------------------------------------------------------
SIDEBAR FILTER   
--------------------------------------------------------------------------- */
.price-selector{
    margin: 2rem 0rem;
}

.line{
    width: 100%;
    height: 0.2rem;
    position: relative;
    background: #7B7B7B;
}

.line-indicator{
    position: absolute;
    height: 0.2rem;
    width: 45%;
    left: 9%;
    background: #EBBB2E;
    
}

.line:before{
    position: absolute;
    content: '';
    display: block;
    height: 0.4rem;
    width: 0.4rem;
    background: #EBBB2E;
    border-radius: 50%;
    left: 9%;
    top: -0.15rem;
}

.line:after{
    position: absolute;
    content: '';
    display: block;
    height: 0.4rem;
    width: 0.4rem;
    background: #EBBB2E;
    border-radius: 50%;
    right: 45%;
    bottom: -0.15rem;
}

.price-range{
    margin-top: 1rem;
    margin-bottom: 0;
}

.price-text{
    list-style: none;
    display: inline-block;
}

.price-text:last-child{
    float: right;   /* alternative use of float */
}


.list__container{
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    padding: 1rem;
    /* border:2px solid #a31c1c; */
    box-sizing: border-box;
    justify-content: center;
}

/* ---------------------------------------------------------------------------
single product card   
--------------------------------------------------------------------------- */

.list__card{
    position: relative;
    width: 25%;
    min-width: 167px;
    min-height: 220px;
    padding-top: 35%;
    margin: 2%;
    box-shadow: 0 0.2rem 1.2rem #888888;
    overflow: hidden;
    background: #F3ECE5;
    border-radius: 1rem;
    transition: all 0.8s ease-in-out;
    box-sizing: border-box;
}

.list__card:hover{
    transform: translateY(0.5rem);
}

.card__container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card__img-area{ 
    position: relative;
    width: 100%;
    height: 50%;
    overflow:hidden;
}

.card__img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card__img-area:hover img{
    transform: scale(1.1);
}

.card__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #9d9d9d;
    transition: opacity 0.3s ease;
}

.list__card:hover, .card__overlay:hover{
    opacity: 1;
}

.card__add,
.card__view{
    background-color: #F5F5F5;
    color: #000000;
    padding: 0.75rem 0.9rem;
    border-radius: 0.3rem;
    border: none;
    font-family:Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0.4rem;
}

.card__add:hover,
.card__view:hover{
    background-color: #F3BA1D;
    color: #000000;

}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 0.85rem;
}
.info__name{
    margin-bottom: 0.85rem;
}
.info__price{
    font-size: 1rem;
    font-weight: bold;
}
.product-list__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    /* border: 2px solid #000000; */
}

.pagination__text{
    background: #E2E2E2;
    width: 5%;
    height: 4%;
    border-radius: 2rem;
    border: none;
    padding: 1% 0;
    margin: 1%;
    font-family:Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.pagination__text:hover{
    background: #EBBB2E;
}


/*--- Mobile setting ---*/
@media screen and (min-width: 880.1px){
    .filter__brand{
        display: none;
    }
}

/*--- Responsive setting ---*/
@media screen and (max-width:880px){
    .filter__container{
        display: none;
    }
    
}



@media screen and (max-width: 390px){
    /* ---------------------------------------------------------------------------
    Product list   
    --------------------------------------------------------------------------- */
    /* ---------- filter ---------- */
    .filter__container{
        display: none;
    }

    .filter__horizontal{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
        /* border: 2px solid #EBBB2E; */
    }

    .filter__brand{
        /* all: unset; */
        background: #ffffff;
        border-radius: 2rem;
        border: none;
        box-shadow: 0 0.2rem 1.2rem #888888;
        margin: 3%;
        padding: 3% 5%;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .filter__brand:hover{
        background: #EBBB2E;

    }

    .list__card{
        margin: 2% 1%;
        
    }
    .list__container{
        width: 100%;
        padding: 0;
    }

    .pagination__text{
        background: #E2E2E2;
        width: 10%;
        height: 6%;
        border-radius: 3rem;
        border: none;
        padding: 1%;
        margin: 2%;
        font-family:Montserrat, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
    }
}