@import url('colours.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    /* Base values for mobile */
    --text-scale-ratio: 1;
    --text-base-size: calc(16px * var(--text-scale-ratio)); /* 16px */

    --text-xxs: calc(0.25 * var(--text-base-size));  /*  4px */
    --text-xs:  calc(0.5  * var(--text-base-size));  /*  8px */
    --text-sm:  calc(0.75 * var(--text-base-size));  /* 12px */
    --text-md:  calc(1    * var(--text-base-size));  /* 16px */
    --text-lg:  calc(1.5  * var(--text-base-size));  /* 24px */
    --text-xl:  calc(2    * var(--text-base-size));  /* 32px */
    --text-xxl: calc(3    * var(--text-base-size));  /* 48px */
}

/*  <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 100 to 900 */
@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Rounded-Bold';
    src: url('../fonts/Helvetica-Rounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* ---------------------------------------------------------------------------
   Text Size
--------------------------------------------------------------------------- */
.text--xxs{font-size: var(--text-xxs);}
.text--xs{font-size: var(--text-xs);}
.text--sm{font-size: var(--text-sm);}
.text--md{font-size: var(--text-md);}
.text--lg{font-size: var(--text-lg);}
.text--xl{font-size: var(--text-xl);}
.text--xxl{font-size: var(--text-xxl);}

/* ---------------------------------------------------------------------------
   Font Type
--------------------------------------------------------------------------- */
.helvetica{font-family: 'Helvetica-Regular', sans-serif;}
.helvetica--bold{font-family: 'Helvetica-Bold',sans-serif;}
.helvetica--rounded-bold{font-family: 'Helvetica-Rounded-Bold', sans-serif;}

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat--bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* ---------------------------------------------------------------------------
   Header
--------------------------------------------------------------------------- */
.category__text{
    font-family: 'Helvetica-Regular', sans-serif;
    font-size: var(--text-md);
    color: var(--color-text);
}
/* ---------------------------------------------------------------------------
   Footer
--------------------------------------------------------------------------- */
.section__heading-text{
    font-family: 'Helvetica-Regular', sans-serif;
    font-size: var(--text-md);
    color: var(--color-text);
    text-decoration: none;
}
.section__copyright-text{
    font-family: 'Helvetica-Regular', sans-serif;
    font-size: var(--text-xs);
    color: var(--color-text);
}
/* ---------------------------------------------------------------------------
   Index
--------------------------------------------------------------------------- */
.title__text{
    font-size: var(--text-lg);
    color: var(--color-text);
}
.promo__text{
    font-size: var(--text-md);
    color: var(--color-text);
}
.promo__subtitle-text{
    font-size: var(--text-sm);
    color: var(--color-text);
}
/* ---------------------------------------------------------------------------
   Product List
--------------------------------------------------------------------------- */
.product-list__title{
    font-family: 'Helvetica-Rounded-Bold', sans-serif;
    font-size: var(--text-lg);
    color: var(--color-text);
}
/* .filter__heading-text{
    display: none;
} */

/* .filter__content-text{
    font-family: "Montserrat", sans-serif;
    font-size: var(--text-xs);
    color: var(--color-text);
    margin-bottom: 5%; 

} */
.card__name-text{
    font-family: 'Helvetica-Regular', sans-serif;
    font-size: var(--text-sm);
    color: var(--color-text);
    margin-top: 5%;
    line-height: 150%;
    /* margin: 1rem; */
}
.card__price-text{
    font-family: 'Helvetica-Rounded-Bold', sans-serif;
    font-size: var(--text-sm);
    font-weight: 400;
    margin-top: 11%;
}
.pagnimation__text{
    font-family: 'Helvetica-Regular', sans-serif;
    font-size: 20px; /* FIXED FONT SIZE */
}
/* ---------------------------------------------------------------------------
   Product
--------------------------------------------------------------------------- */
@media screen and (min-width: 907px){
    .filter__content-text{
        font-size:var(--text-xs);
    }
    .filter__heading-text{
        font-size: var(--text-sm);
    }
}
/**
=============================================================================
    PC SECTION
=============================================================================
*/
@media screen and (min-width: 391px){
    :root{
        /* Base values for PC */
        --text-scale-ratio: 1.75;
        /* --text-xxs   7px */
        /* --text-xs   14px */
        /* --text-sm   21px */
        /* --text-md   28px */
        /* --text-lg   42px */
        /* --text-xl   56px */
        /* --text-xxl  84px */
    }
    /* ---------- FOOTER ---------- */
    .section__heading-text{
        font-family: 'Helvetica-Bold',sans-serif;
        font-size: var(--text-sm);
        color: var(--color-text);
        text-decoration: none;
    }
    .section__list-text{
        font-family: 'Helvetica-Regular', sans-serif;
        font-size: 18px; /* FIXED FONT SIZE */
        color: var(--color-text);
        text-decoration: none;
        line-height: 25px;
    }
    .section__email-input{
        font-size: 10px;
    }
    /* ---------- PRODUCT LIST ---------- */
    .filter__heading-text{
        font-family: 'Helvetica-Rounded-Bold', sans-serif;
        font-size: var(--text-md);
        margin-bottom: 10%;
        font-weight: 200;
    }
    .filter__content-text{
        font-family: 'Helvetica-Regular', sans-serif;
        font-size: var(--text-sm);
        margin-bottom: 8%;
    }
    .product-list__title{
        font-family: 'Helvetica-Rounded-Bold', sans-serif;
        font-size: var(--text-xl);
        color: var(--color-text);
    }
    .card__name-text{
        font-family: 'Helvetica-Regular', sans-serif;
        font-size: var(--text-xs);
        color: var(--color-text);
        line-height: 150%;
        margin: 3% 0;
    }

    .card__price-text{
        font-family: 'Helvetica-Rounded-Bold', sans-serif;
        font-size: var(--text-sm);
        font-weight: 400;
        margin-top: 11%;
    }
    

}