@import url('colours.css');
@import url('layout.css');
@import url('spacing.css');
@import url('typography.css');

/* ---------------------------------------------------------------------------
   Global Style
--------------------------------------------------------------------------- */

body{
    background-color: var(--color-background-primary);
}
input{
    background-color: var(--color-background-input);
}

input::placeholder{
    color: var(--color-text-placeholder);
}
/* ---------------------------------------------------------------------------
   Header
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
   Footer
--------------------------------------------------------------------------- */
.footer__section-text{
    display: none;
}

@media screen and (min-width: 390px){
    
    /* ---------------------------------------------------------------------------
    Header   
    --------------------------------------------------------------------------- */

}